.header-top {
    background-color: #8B0000; /* Adjust color to match your header */
    color: white;
    padding: 10px 0;
    margin-top: 0;
  }
  .navbar {
    padding: 0;
    margin-top: 0; 

  }
  .navbar-brand {
    font-size: 1.5em; /* Adjust size as needed */
    color: white;
  }
  .navbar-nav .nav-link {
    color: black; /* Adjust color to match your design */
  }
  .navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .race-info {
    text-align: right;
  }
  .navbar-collapse {
    border-bottom: 2px solid;
    border-color: #8B0000;
    margin-top: 0;
    padding: 0;
    }
.nav-fill{
    background-color: lightgray;
    border-radius: 5px;
}
.breadcrumb-container {
    padding-left: 15px; /* Align with the navbar's content */
    padding-top: 5px; /* Space between the navbar and the breadcrumb */
  }

  .breadcrumb {
    color: black; /* Or any color that fits the design */
    font-size: 0.9em; /* Adjust the size as needed */
  }
  