/* cmu red color (self-defined) */
.bg-cmu {
    background-color: #8B0000!important;
}

/* nav bar css*/
.header-top {
    background-color: #8B0000; 
    color: white;
    padding: 10px 0;
    margin-top: 0;
  }
.navbar {
    padding: 0;
    margin-top: 0; 
}

.navbar-brand {
    font-size: 1.5em;   
}

.navbar-nav .nav-link {
    color: black; 
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.race-info {
    text-align: right;
}

.navbar-collapse {
    border-bottom: 2px solid;
    border-color: #8B0000;
    margin-top: 0;
    padding: 0;
}

.nav-fill{
    background-color: lightgray;
    border-radius: 5px;
}

.breadcrumb-container {
    padding-left: 0px; 
    padding-top: 0px; 
    margin: 0;
    float: right;
    position: relative;
    top: -6vmin;
    left: -5vmin;
}
.navgoingto {
    color: black;
    font-size: 12px;
}

.homelink{
    color:black;
}

.size26{
    font-size: 216.66667%;
    margin: 2% 0px 1% 0px;
}

.top_intro{
    font-size: 216.66667%;
    margin: 0% 0% -2% 0%;
}


/* carousel css */
.background_image{
    position: relative;
    width: 100%;
    z-index: 0;
}
      
/* First 1/3 section "What is Buggy" css */
.top_container {
    max-width: 80%;
    margin: 0% 10% 20% 10%;
}

.whatIsBuggy{
    max-width: 49.7685%;
    float: left;
}

.whenIsIt{
    max-width: 42.7083%;
    float: right;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
}

#readmore{
    background-color:#8B0000;
    border-bottom: 3px solid;
    border-color: #8B0000;
    border-radius: 10px;
    color:white;
}

.listtitle{
    border-bottom: 2px solid #a30707; /* Light gray border for list items */
  }

  
/* second 1/3 section "Begin Your Buggy Journey" css */
.card{
    width: 100%;
    margin: auto;
    min-height: 100%;
    background-color:#8B0000;
}



.middle_container{
    max-width: 80%;
    clear: both;
    margin: 0% 10% 5% 10%;
}


/* Last 1/3 section "Helpful Resources" css */

.card-img-top{
    height: 70%;
}

.third_container{
    max-width: 80%;
    clear: both;
    margin: 0% 10% 5% 10%;
}


/* others */
.separation{
    width: 80%;
    margin: auto;
    size: 3;
    background-color: #8B0000;
    
}

